/* sun and moon icons from https://feathericons.com */
/* todo credits */

$font-stack: Segoe UI, Helvetica, Arial, sans-serif;
$dark-theme-text-color: #eeeeee;
$dark-theme-bg-color: #121212;
$light-theme-text-color: #424242;
$light-theme-bg-color: #eeeeee;
$highlight-color: #ffab0f;
$baseURL: "";
$header-height-small: 70px;
$header-height-large: 100px;
$header-offset-small: 90px;
$header-offset-large: 120px;
$header-underline-color: #eaecef;

h1 {
    font-size: 2em;
    margin-top: 0;
}

h2 {
    font-size: 1.5em;
}

.night .content-section {
    h1, h2 {
        border-bottom: 1px solid $dark-theme-text-color;
    }
}
.day .content-section {
    h1, h2 {
        border-bottom: 1px solid $light-theme-text-color;
    }
}

p {
    font-size: 16px;
    line-height: 1.5;
}

body {
    font-family: $font-stack;
    padding: 0;
    margin: 0;
    background-color: lightblue;
    color: $light-theme-text-color;
}

a, a:visited {
    color: $light-theme-text-color;
}

.night a, .night a:visited {
    color: $dark-theme-text-color;
}

body.night {
    background-color: $dark-theme-bg-color;
}

.night #bg {
    /*background-image: linear-gradient(#20202c, #cd82a0);*/
    /* stars background made with help of tutorial: https://www.maketecheasier.com/create-space-scenes-in-gimp/ */
    background-image: url($baseURL+"/images/stars2.jpg");
    background-repeat: repeat;
}
.night #fg {
    background-image: url($baseURL+"/images/tiledbgblack.png");
}
.day #bg {
    background-image: linear-gradient(#9795EF, #F9C5D1);
}
.day #bg2 {
    background-image: url($baseURL+"/images/clouds.png");
}
.day #fg {
    background-image: url($baseURL+"/images/tiledbg.png");
}
.day .content-section {
    background-color: $light-theme-bg-color;
    color: $light-theme-text-color;
}
.night .content-section {
    background-color: $dark-theme-bg-color;
    color: $dark-theme-text-color;
}

#bg, #bg2 {
    background-repeat: repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
}

#fg {
    background-repeat: repeat;
    background-size: 250px 230px;
    position: absolute;
    width: 100%;
    top: 0;
    min-height: 100%;
    /* todo foreground min height 100% */
    /* make foreground match height of content somehow */
}

#content {
    padding: 16px;
}
.content-section {
    max-width: 480px;
    margin: 50px auto;
    padding: 16px;
    @media only screen and (min-width: 1024px) {
		padding: 32px;
        max-width: 700px;
	}
    /* todo use clamp for width */
}

a.anchor {
    display: block;
    visibility: hidden;
    position: relative;
    top: -$header-offset-small;

    @media only screen and (max-width: 512px) {
        top: -$header-offset-large;
    }
}

#header {
    position: sticky;
    top: 0;
    width: 100%;
    height: $header-height-small;
    background-color: $light-theme-bg-color;
    box-sizing: border-box;
    border-bottom: 1px solid $light-theme-text-color;
    padding: 10px 20px;
    overflow-x: hidden;
    white-space: nowrap;

    @media only screen and (max-width: 512px) {
        height: $header-height-large;
        h1 {
            position: relative;
            top: 30px;
        }
        #bg-controls button {
            top: 10px;
            right: 10px;
        }
        #nav {
            top:12px;
        }
    }
}
#header h1 {
    margin: 0;
    margin-top: 10px;
    display: inline-block;
}
#header a {
    color: $light-theme-text-color;
}
.night #header a {
    color: $dark-theme-text-color;
}
#nav {
    position: fixed;
    top: 22px;
    right: 70px;
}
#nav a {
    display: inline-block;
    margin: 5px 20px;
}
.night #header {
    background-color: $dark-theme-bg-color;
    color: $dark-theme-text-color;
    border-bottom: 1px solid $dark-theme-text-color;
}
#bg-controls button {
    background-image: url($baseURL+"/images/sun.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 30px 30px;
    border: none;
    width: 30px;
    height: 30px;
    padding: 0;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 30px;
}
#bg-controls button:hover {
    background-image: url($baseURL+"/images/sun-fill.svg");
}
.night #bg-controls button {
    background-image: url($baseURL+"/images/moon-white.svg");
}
.night #bg-controls button:hover {
    background-image: url($baseURL+"/images/moon-white-fill.svg");
}
#bg-controls {
    width: 50px;
    float: right;
}

.glossary-term, .footnote-ref {
    font-weight: bold;
    position: relative;
    cursor: pointer;
    border: 1px dashed $light-theme-text-color;
}
.tooltip {
    display: none;
    font-weight: normal;
    border: 1px solid $light-theme-text-color;
    color: $light-theme-text-color;
    width: 200px;
    background-color: $light-theme-bg-color;
    padding: 4px;
}
:hover > .tooltip{
    display: block;
    position: absolute;
    top: 20px;
}
.footnote:target, .glossary-definition:target {
    background-color: $highlight-color;
}
