<div id="header">
    <div id="header-brand">
        <a href="{{ "/" | relURL }}">{{ .Site.Title }}</a>
        {{ if not .IsHome }}
        <span id="header-separator">/</span>
        <span id="header-page-title">{{ .Title }}</span>
        {{ end }}
    </div>
    <nav id="nav">
        {{ range .Site.Menus.main }}
        <a class="nav-link" href="{{ .URL }}">{{ .Name | safeHTML }}</a>
        {{ end }}
    </nav>
    <div id="bg-controls">
        <button onclick="toggleNight()" aria-label="Toggle day/night theme"></button>
    </div>
</div>
